@model IEnumerable<Protectores.Models.AdopcionAnimal>

@{
    ViewBag.Title = "Animales en adopción";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Dar en adopción", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.especie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Correo)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nombre)
            @Html.DisplayFor(modelItem => item.Usuario.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.especie)
        </td>
        <td>
            @Html.DisplayFor(model => item.Usuario.Correo)
        </td>
    </tr>
}

</table>
