@model IEnumerable<Protectores.Models.AdopcionAnimal>

@{
    ViewBag.Title = "Animales en adopción";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Dar en adopción", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.UsuarioId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.especie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.Usuario.UsuarioId)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.especie)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.AdopcionAnimalId }) |
            @Html.ActionLink("Ver mas", "Details", new { id=item.AdopcionAnimalId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.AdopcionAnimalId })
        </td>
    </tr>
}

</table>
